{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
	<p>Informações sobre o curso</p>
	{% for announcement in  announcements %}
		<h2>{{ announcement.title }}</h2>		
		<p>{{ announcement.content|linebreaks }}</p>
		<a href="#comments">			
			{% with comments_count=announcement.comments.count %}
			    {{ comments_count }}
			    Comentário{{ comments_count|pluralize }}</a>
			{% endwith %}			
	{% empty %}
		<div class="well">
			<h2>Nenhum anúncio criado</h2>
		</div>
	{% endfor %}
{% endblock dashboard_content %}