{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
	{{ block.super }}
	/ <a href="{% url 'courses:announcements' course.slug %}">{{ course }}</a>
{% endblock breadcrumb %}

{% block menu_options %}
	<h3>{{ course }}</h3>
	<ul>
		<li>
			<a href="{% url 'courses:lessons' course.slug %}">Aulas e Materiais</a>			
		</li>
		<li>Informações</li>
		<li>
			<a href="{% url 'courses:announcements' course.slug %}">Anúncios</a>
		</li>
		<li>Forúm de Dúvidas</li>
	</ul>
	{{ block.super }}
{% endblock menu_options %}