{% extends "base.html" %}

{% load static %}

{% block container %}

<p>{{course}}</p>

<a href="#contato" class="pure-button">Dúvidas</a>

{% if course.image %}
<p><img src="{{course.image.url}}" alt="course"></p>
{% else %}
<p><img src="{% static 'images/default_logo.png' %}" alt="course"></p>
{% endif %}

<p>{{course.description}}</p>
<p>
	<a href="{% url 'courses:enrollment' course.slug %}">Inscreva-se</a>
</p>

<p>{{course.about|linebreaks}}</p>

<div id="contato">
<p>Tire suas dúvidas sobre o Curso</p>
{% if is_valid %}
<p>Você enviou o formulário com sucesso.</p>
{% endif %}
<form action="#contato" method="post">
	{% csrf_token %}
	{% for field in form %}
		{{ field.label_tag }}
		{{ field }}
		{% if field.errors %}
			{% for error in field.errors %}
				<p>{{ error }}</p>
			{% endfor %}
		{% endif %}
		<br>
	{% endfor %}
	<button type="submit">Enviar</button>
</form>
</div>

{% endblock container %}
