{% extends "base.html" %}

{% load static %}

{% block container %}

<h1>Cursos Disponíveis</h1>

<div class="row">
{% for course in courses %}
	<div class="col-md-4">
		<div class="thumbnail">
			{% if course.image %}
			<img src="{{course.image.url}}" class="img-responsive" alt="{{course.name}}"> 
			{% else %}
			<img src="{% static 'images/default_logo.png' %}" class="img-responsive" alt="{{course.name}}">  
			{% endif %}
			<div class="caption">
				<h3>{{ course.name }}</h3>
				<p>{{ course.description }}</p>
				<p>Início: {% if course.start_date %}<strong>{{ course.start_date }}</strong>{% else %}<strong>Sem data marcada.</strong>{% endif %}</p>
				<p><a href="{{ course.get_absolute_url }}" class="btn btn-primary">Saiba Mais</a></p>
			</div>
		</div>
	</div>
{% empty %}
	<p>Não existem cursos disponíveis no momento!</p>
{% endfor %}
</div>

{% endblock container %}