{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="col-md-12">
		<h2 class="content-subhead">Fale conosco</h2>
		<p>
			Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:
		</p>
		<h3>Links</h3>
		<ul>
			<li>Email: <a href="mailto:contato@aprendapython.net">contato@aprendapython.net</a></li>
			<li>Twitter: <a href="https://twitter.com/aprendapython">@aprendapython</a></li>
		</ul>
	</div>
</div>
{% endblock %}