{% extends "base.html" %}

{% block container %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Uma uma plataforma de ensino da linguagem Python</h1>
	<p>A Aprenda Python visa simplificar o ensino da linguagem programação Python, provendo ferramentas objetivas e de fácil uso para os cursos.</p>
	<p>
		<a class="btn btn-lg btn-primary" href="{% url 'courses:index' %}" role="button">Veja os Cursos</a>
	</p>
</div>

{% endblock %}
