{% extends "base.html" %}

{% load courses_tags %}

{% block container %}

{% for message in messages %}
<p>
  {{message}}
</p>
{% endfor %}

{% block breadcrumb %}
<a href="{% url 'accounts:dashboard' %}">Meu Painel</a>
{% endblock breadcrumb %}

{% block dashboard_content %}
<ul>
  <li>Nome: {{ user }}</li>
  <li>Email: {{ user.email }}</li>
</ul>
{% endblock dashboard_content %}

<ul>
  <li>Meus Curso (Assinatura)</li>
  <ul>
    {% load_my_courses user as enrollments %}
    {% for enrollment in enrollments %}
        <li>{{ enrollment.course }}</li>
    {% endfor %}
  </ul>
</ul>

<ul>
  <li>Meus Cursos: {{ cursos }}</li>

  {% my_courses user %}

  <li>Minha Conta: {{ conta }}</li>
  <ul>
    <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
    <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
  </ul>
</ul>
{% endblock container %}
