{% extends "base.html" %}

{% load widget_tweaks %}

{% block container %}
<div class="row">
  <div class="col-md-12">
    <form class="" action="" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
        {{ field.errors }}
      {% endfor %}
      <input type="submit" value="Logar">
    </form>
  </div>
</div>

<a href="{% url 'accounts:register' %}">Cadastrar</a>
<a href="{% url 'accounts:password_reset' %}">Recuperar Senha</a>
{% endblock container %}
